/* aboutus.css */

.about-bg-image {
  background-image: url('../../assets/about/aboutus.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff; /* Set text color to white */
}

.about-bg-image h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.about-bg-image p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
  .about-bg-image {
    height: 50vh;
  }

  .about-bg-image h1 {
    font-size: 2em;
  }

  .about-bg-image p {
    font-size: 1em;
  }
}
/* Your existing CSS */

/* ... */

/* Your aboutus.css */

/* Your existing CSS */

/* ... */

/* Your aboutus.css */

.about-container {
  margin-bottom: 20px;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
  .about-bg-image {
    height: 50vh;
  }

  .about-bg-image h1 {
    font-size: 2em;
  }

  .about-bg-image p {
    font-size: 1em;
  }

  .about-container {
    margin-top: 10px; /* Adjust margin for smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

 

  .about-description h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    margin-bottom: 5px; /* Adjust margin for smaller screens */
  }

  .about-image img {
    margin-bottom: 10px; /* Add margin to the bottom of about-image for smaller screens */
  }
}

.even {
  flex-direction: row;
  margin-left: 10px; /* Adjust left margin for smaller screens */
  margin-right: 10px;
}

.odd {
  flex-direction: row-reverse;
  margin-left: 10px; /* Adjust left margin for smaller screens */
  margin-right: 10px;
}
